log.txt
raylib/
hpff/
.dub
docs.json
__dummy.html
/himmel_engine
himmel_engine.exe
himmel_engine.pdb
himmel_engine.so
himmel_engine.dylib
himmel_engine.dll
himmel_engine.a
himmel_engine.lib
himmel_engine-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
*.old
.ldc2_cache
sky.sh
a.out
*.dll
*.core
*.so*
/plugins/
sky
*.dylib*
res/
/scripts/
docs/
./save.txt
./himmel-silent-hill/
himmel-silent-hill/
himmel-soul-hackers/
./himmel-soul-hackers/
res
